body{
  background-image:url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}

.container{
  padding:80px;
}

.left{
  padding:80px;
}

h1{
  font-family: 'Poppins', sans-serif;
  color:white;
  font-weight:700;
}

p{
  font-family: 'Poppins', sans-serif;
  color:white;
  font-weight: 400;
  font-size: 12px;
  margin-top: 30px;
}

.freetrial{
  border: 1px solid hsl(248, 32%, 49%);
  border-radius: 10px;
  background-color: hsl(248, 32%, 49%);
  height:auto;
  width:100%;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 10px 18px hsl(249, 10%, 26%);
}

span{
  font-family: 'Poppins', sans-serif;
  color:white;
  font-weight: 400;
  font-size: 12px;
}

.form{
  margin-top: 25px;
  box-shadow: 5px 10px 18px hsl(249, 10%, 26%);
  border-radius: 10px;
  padding:35px;
  background-color: white;
  text-align: center;
}

input{
  display: block;
  width:100%;
  margin-bottom:20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
}

input:focus{
  outline: none;
}

::placeholder{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color:black;
}

input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color:black;
}

input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color:black;
}

button{
  width:100%;
  margin-bottom:20px;
  height: auto;
  border-radius: 5px;
  border: 1px solid hsl(154, 59%, 51%);
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
}

.first{
  display: block;
  color:grey;
  font-size: 8px;
  padding:0;
  margin:0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.second{
  display: inline-block;
  color:red;
  font-size: 8px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding:0;
  margin:0;
}
.firstInput, .secondInput, .thirdInput, .fourthInput{
  position:relative;
}

#result, #return, #execute, #write{
  display: block;
}

.errorFirstName, .errorSecondName, .error, .errorPassword{
  display: none;
  position: absolute;
  right: 20px;
  top: 8px;
}

.icon{
  height:17px;
}

@media screen and (max-width:767px){
  body{
    background-image:url("images/bg-intro-mobile.png");
  }

  .container{
    padding:60px;
  }

  .left{
    text-align: center;
    padding:0;
  }

  .right{
    margin-top: 50px;
  }
}
